:root {
    --st-color: red;
    --st-tab-font: system-ui;
    --st-max-tabs: 10;

    color-scheme: light dark;
    font-family: system-ui;
    text-wrap: pretty;
}

body {
    margin: 0;
}

a {
    color: light-dark(
        oklch(from var(--st-color) 50% c h),
        oklch(from var(--st-color) 85% 75% h)
    );
    font-weight: bold;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

main {
    max-width: min(100%, 39rem);
    margin-inline: auto;
    padding: 1.5lh;
}

h1 {
    font-weight: normal;

    strong {
        font-family: Georgia;
    }
}

h1 + p {
    font-family: Georgia;
    font-size: 1.2em;
}

hr {
    opacity: .33;
}

code {
    background-color: #aaaaaa40;
    padding: .1lh .25lh;
    border-radius: 4px;
    display: inline-block;
    translate: 0 -.05lh;
}

kbd:not(:has(kbd)) {
    background-color: #aaaaaa40;
    border: solid 1px hsl(from currentColor h s l / .5);
    border-radius: 4px;
    padding: 0 .5lh;
    box-shadow: 0 .5px 0 1px hsl(from currentColor h s l / .35);
    margin-inline: .25em;
    display: inline-block;
    translate: 0 -1.5px;
}

/* simple-tabs {
    outline: 1px dashed var(--st-color);
    outline-offset: .33lh;
} */